<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mapper.FaqMapper">

	<!-- FAQ 게시판등록 -->
	<insert id="faqregistr" parameterType="kr.co.model.FaqVO">
    	INSERT INTO FAQ (FAQ_ID, TITLE, CONTENT, MEMBER_ID)
    	VALUES (#{FAQ_ID}, #{TITLE}, #{CONTENT}, #{member.MEMBER_ID})
	</insert>
	
	<!-- FAQ 게시판 목록 -->
	<select id="faqlist" resultType="kr.co.model.FaqVO">
		SELECT * FROM FAQ
	</select>
	
	<!-- 공지사항 목록(페이징 유지처리) -->
     <select id="faqlistPaging" resultType="kr.co.model.FaqVO">
    <![CDATA[
        SELECT FAQ_ID, TITLE, CONTENT
        FROM(        
              SELECT /*+INDEX_DESC(FAQ PK_FAQ) */ 
              ROWNUM AS RN, FAQ_ID, TITLE, CONTENT
              FROM FAQ 
              WHERE ROWNUM <= #{pageNum} * #{amount}
    ]]>
    <![CDATA[
        	  )
        	WHERE RN > (#{pageNum} -1) * #{amount}
        ]]>
</select>
	
	<!-- 게시판 조회 -->
	<select id="faqpage" resultType="kr.co.model.FaqVO">
		SELECT * FROM FAQ
		WHERE FAQ_ID = #{FAQ_ID}
	</select>
	
	<!-- FAQ 게시판 수정 -->
	<update id="faqupdate">
		UPDATE FAQ
		SET TITLE = #{TITLE},
		CONTENT = #{CONTENT}
		WHERE FAQ_ID = #{FAQ_ID}
	</update>
	
	<!-- FAQ 게시판 삭제 -->
	<delete id="faqdelete">
		DELETE FROM FAQ
		WHERE FAQ_ID = #{FAQ_ID}
	</delete>
	
	<!-- 공지사항 게시글 총 갯수 -->
    <select id="faqTotal" resultType="int">
        SELECT COUNT(*) FROM FAQ
    </select>
</mapper>