<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mapper.QsMapper">

	<!-- 게시판 등록 -->
	<insert id="qsregistr" parameterType="kr.co.model.QsVO" >
    		INSERT INTO QUESTION (TITLE, CONTENT, MEMBER_ID)
    		VALUES (#{TITLE}, #{CONTENT}, #{MEMBER_ID})
	</insert>
	
	<!-- 게시판 목록 -->
	<select id="getlist" resultType="kr.co.model.QsVO">
		SELECT * FROM QUESTION
		ORDER BY QUE_ID DESC
	</select>
	
	<!-- 게시판 목록(페이징 유지처리) -->
	<select id="getlistPaging" resultType="kr.co.model.QsVO">
    <![CDATA[
        SELECT QUE_ID, TITLE, CONTENT, MEMBER_ID, TIME, READ_CNT
        FROM(        
              SELECT /*+INDEX_DESC(QUESTION PK_QUESTION) */ 
              ROWNUM AS RN, QUE_ID, TITLE, CONTENT, MEMBER_ID, TIME, READ_CNT
              FROM QUESTION 
              WHERE ROWNUM <= #{pageNum} * #{amount}
    	]]>
    		<if test="Keyword !=null">
    			<include refid="qscriteria"></include>
    		</if>
        <![CDATA[
        	  )
        	WHERE RN > (#{pageNum} -1) * #{amount}
        ]]>
    </select>
	
	<!-- 게시판 글 총 갯수 -->
	<select id="getTotal" resultType="int">
		SELECT COUNT (*) FROM QUESTION
		<if test="Keyword != null">
			WHERE QUE_ID > 0 <include refid="qscriteria"></include>
		</if>
	</select>
	
	<!-- 검색 조건문 -->
    <sql id="qscriteria">
        <trim prefix="AND (" suffix=")" prefixOverrides="OR">
            <foreach collection="typeArr" item="type">
                <trim prefix="OR">
                    <choose>
                        <when test="type == 'T'.toString()">
                            TITLE LIKE '%'||#{keyword}||'%' 
                        </when>
                        <when test="type == 'C'.toString()">
                            CONTENT LIKE '%'||#{keyword}||'%' 
                        </when>
                        <when test="type == 'W'.toString()">
                            MEMBER_ID LIKE '%'||#{keyword}||'%' 
                        </when>
                    </choose>
                </trim>
            </foreach>
        </trim>
    </sql>
	
	<!-- 게시판 조회 -->
	<select id="getpage" resultType="kr.co.model.QsVO">
		SELECT * FROM QUESTION
		WHERE QUE_ID = #{QUE_ID}
	</select>
	
	<!-- 게시판 조회수 -->
	<update id="qsViews">
		UPDATE QUESTION
		SET
		READ_CNT = READ_CNT + 1
		WHERE QUE_ID = #{QUE_ID}
	</update>
	
	<!-- 게시판 수정 -->
	<update id="update">
		UPDATE QUESTION
		SET
		TITLE = #{TITLE},
		CONTENT = #{CONTENT}
		WHERE QUE_ID = #{QUE_ID}
	</update>
	
	<!-- 게시판 삭제 -->
	<delete id="delete">
		DELETE FROM QUESTION
		WHERE QUE_ID = #{QUE_ID}
	</delete>
</mapper>