*{
	margin: 0 ;
	padding: 0 ;
}

.not_file_list a{
	text-decoration: none !important;
	color: inherit ;
}

html{
	font-size: 10px;
}

/* 테이블 기본설정 */
.not_table_wrap {
	width : 1000px;
	margin : 100px auto;
}

.not_title{
	margin-bottom: 30px;
}

.not_title strong{
	font-size: 3rem !important;
}

.not_title p{
	margin-top: 5px;
	font-size: 1.4rem;
}

.not_get {
	width: 100%;
	border-top: 2px solid #000;
	font-size: 1.4rem;
}

.not_get .title{
	padding: 20px 15px;
	border-bottom: 1px dashed #ddd;
	font-size: 2rem;
}

.not_get .not_info{
	padding: 15px;
	border-bottom: 1px solid #999;
	font-size: 0;
}

.not_get .not_info dl{
	position : relative;
	display: inline-block;
	padding: 0 20px;
}

.not_get .not_info dl:first-child{
	padding-left: 0;
}

.not_get .not_info dl::before{
	content: "";
	position: absolute;
	top:1px;
	left: 0;
	display: block;
	width: 1px;
	height: 13px;
	background: #ddd;	
}

.not_get .not_info dl:first-child::before{
	display: none;
}

.not_get .not_info dl dt,
.not_get .not_info dl dd{
	display: inline-block;
	font-size: 1.4rem;
}

.not_get .not_info dl dt{
	display: inline-block;
}

.not_get .not_info dl dd{
	margin-left: 10px;
	color: #777;
}

.not_get .not_content{
	padding: 15px;
	border-bottom: 1px solid #000;
	line-height: 160%;
	font-size: 1.4rem;
}

.not_file_list {
    margin-top: 15px;
    margin-left: 10px;
}

.not_file_list dl {
    margin-bottom: 10px;
}

.not_file_list dt {
    font-weight: bold;
    display: inline; /* dt 요소를 인라인으로 표시하여 다음 dd 요소와 같은 줄에 나타나도록 설정 */
}

.not_file_list dd {
    margin-left: 10px; /* 파일 이름과 파일 크기 사이의 간격 조정 */
    display: inline; /* dd 요소를 인라인으로 표시하여 첨부 파일들이 옆으로 나열되도록 설정 */
}

.not_file_list a {
    text-decoration: none;
}

.not_file_list a:hover {
    text-decoration: underline;
}

.file_size {
    color: #666; /* 파일 크기의 색상 지정 */
    font-size: 0.9em; /* 파일 크기의 폰트 크기 조정 */
}

.not_btn_wrap {
    margin-top: 30px ;
    text-align: center;
    font-size: 0;
}

.not_btn_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px !important;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}

.not_btn_wrap a:first-child{
	margin-left: 0 !important;
}

.not_btn_wrap a.list_btn{
	background: #000;
	color: #fff !important;
	text-decoration: none;
} 

.not_btn_wrap a.update_btn{
	color: #000 ;
	text-decoration: none;
}