/* 조회 페이지 스타일 */
body {
    font-family: 'Noto Sans KR', Arial, sans-serif;
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.input_wrap {
    margin-bottom: 20px;
}

.input_wrap label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input_wrap input,
.input_wrap textarea {
    width: calc(100% - 22px);
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #555;
    margin-top: 5px;
}

.input_wrap textarea {
    resize: vertical;
}

.form-group {
    margin-bottom: 20px;
}

.form-group a {
    color: #007bff;
    text-decoration: none;
}

.btn_wrap {
    margin-top: 20px;
    text-align: center;
}

.btn_wrap .btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn_wrap .btn:hover {
    background-color: #0056b3;
}

hr {
    margin: 30px 0;
    border: 0;
    border-top: 1px solid #ccc;
}

@media (max-width: 768px) {
    .container {
        padding: 0 10px;
    }
}