*{
	margin: 0 ;
	padding: 0 ;
}

.move{
	text-decoration: none !important;
	color: inherit;
}

html{
	font-size: 10px;
}

/* 테이블 기본설정 */
.not_table_wrap {
	width : 1000px;
	margin : 100px auto;
}

.not_title{
	margin-bottom: 30px;
}

.not_title strong{
	font-size: 3rem !important;
}

.not_title p{
	margin-top: 5px;
	font-size: 1.4rem;
}

.not_update {
	border-top: 2px solid #000;
}

.not_update .title,
.not_update .info{
	padding: 15px;
}

.not_update .title{
	border-top: 1px dashed #ddd;
}

.not_update .info{
	border-top: 1px dashed #ddd;
	border-bottom: 1px solid #000;
	font-size: 0;
}

.not_update .title dl{
	font-size: 0;
}

.not_update .info dl {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}


.not_update .title dt,
.not_update .title dd,
.not_update .info dt,
.not_update .info dd{
	display: inline-block;
	vertical-align: middle;
	font-size: 1.4rem;
}

.not_update .title dt,
.not_update .info dt{
	width: 100px;
}

.not_update .info{
	margin-left: 5px;
}

.not_update .title dd{
	width: calc(100% - 100px);
}

.not_update .title input[type="text"]{
	width: 80%;
	margin-left: 4px;
	box-sizing: border-box;
}

.not_update .title input[type="text"],
.not_update .info input[type="text"],
.not_update .info input[type="file"] {
    padding: 10px;
    box-sizing: border-box;
}

.not_update .info input[type="text"]{
	width: 70%;
	padding: 5px;
	box-sizing: border-box;
}

.not_update .info input[type="file"]{
	margin-top: 5px;
}

.not_update .content{
	border-bottom: 1px solid #000;
}

.not_update .content textarea {
	display: block;
	width: 100%;
	height: 300px;
	padding: 15px;
	box-sizing: border-box;
	border: 0;
	resize: vertical;
}

.bt_wrap {
    margin-top: 30px ;
    text-align: center;
    font-size: 0;
}

.bt_wrap > button {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px !important;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}

.bt_wrap a:first-child{
	margin-left: 0 !important;
}

.bt_wrap .btn_qsbtn{
	background: #000;
	color: #fff !important;
	text-decoration: none;
} 

.bt_wrap .cancel_btn{
	color: #000 ;
	text-decoration: none;
	background-color: #fff;
}