<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthKeeper"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".member.FindResultActivity"
            android:exported="false" />
        <activity
            android:name=".setting.ModifyPatientActivity"
            android:exported="false" />
        <activity
            android:name=".setting.ModifyGuardianActivity"
            android:exported="false" />
        <activity
            android:name=".member.FindPwActivity"
            android:exported="false" />
        <activity
            android:name=".member.JoinTypeActivity"
            android:exported="false" />
        <activity
            android:name=".main.ConditionActivity"
            android:exported="false" />
        <activity
            android:name=".main.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".main.CommunityActivity"
            android:exported="false" />
        <activity
            android:name=".main.QAActivity"
            android:exported="false" />
        <activity
            android:name=".main.CCTVActivity"
            android:exported="false" />
        <activity
            android:name=".main.MonitoringActivity"
            android:exported="false" />
        <activity
            android:name=".member.ScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".member.FindIdActivity"
            android:exported="false" />
        <activity
            android:name=".setting.NoticeActivity"
            android:exported="false" />
        <activity
            android:name=".setting.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".member.PatientJoinActivity"
            android:exported="false" />
        <activity
            android:name=".member.GuardianJoinActivity"
            android:exported="false" />
        <activity
            android:name=".member.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".main.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>