<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthKeeper"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".member.PopupSearchAddressActivity"
            android:theme="@style/Theme.MaterialComponents.Dialog"
            android:exported="false" />
        <activity
            android:name=".member.SimpleJoinActivity"
            android:exported="false" /> <!-- android:screenOrientation="portrait:cctvfullActivity에서 가로방향으로 화면 설정 -->
        <activity
            android:name=".main.CCTVFullmainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.CCTVActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.NoticeActivity"
            android:exported="false" />
        <activity
            android:name=".main.LoginBeforeActivity"
            android:exported="false" />
        <activity
            android:name=".member.FindResultActivity"
            android:exported="false" />
        <activity
            android:name=".setting.ModifyPatientActivity"
            android:exported="false" />
        <activity
            android:name=".setting.ModifyGuardianActivity"
            android:exported="false" />
        <activity
            android:name=".member.FindPwActivity"
            android:exported="false" />
        <activity
            android:name=".member.JoinTypeActivity"
            android:exported="false" />
        <activity
            android:name=".main.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".main.CummunityActivity"
            android:exported="false" />
        <activity
            android:name=".main.QAActivity"
            android:exported="false" />
        <activity
            android:name=".main.MonitoringActivity"
            android:exported="false" />
        <activity
            android:name=".member.FindIdActivity"
            android:exported="false" />
        <activity
            android:name=".setting.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".member.PatientJoinActivity"
            android:exported="false" />
        <activity
            android:name=".member.JoinActivity"
            android:exported="false" />
        <activity
            android:name=".member.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".main.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao1cf34851d43903b60a3c465f4245ef4f" />
            </intent-filter>
        </activity>
    </application>

</manifest>