<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comm">
	<resultMap id="queResult" type="que">
		<id property="QUE_ID" column="QUE_ID"/>
		<result property="TITLE" column="TITLE"/>
		<result property="CONTENT" column="CONTENT"/>
		<result property="TIME" column="TIME"/>
		<result property="MEMBER_ID" column="MEMBER_ID"/>
		<result property="SECRET" column="SECRET"/>
		<result property="CATEGORY_ID" column="CATEGORY_ID"/>
		<result property="READ_CNT" column="READ_CNT"/>
		<result property="Name" column="Name"/>

		<!-- 답변 VO 매핑 -->
		<association property="answer" javaType="answer">
			<id property="ANS_ID" column="ANS_ID"/>
			<result property="CONTENT" column="CONTENT"/>
			<result property="QUE_ID" column="QUE_ID"/>
			<result property="ADMIN_ID" column="ADMIN_ID"/>
			<result property="TIME" column="TIME"/>
		</association>
	</resultMap>
	<!-- 질문과 답변 함께 조회하는 쿼리 -->
	<select id="question" resultMap="queResult">
		SELECT q.*, a.*, m.name
		FROM(
		SELECT row_number() over(ORDER BY time DESC) no , q.*
		FROM question q
		) q
		LEFT outer JOIN ANSWER a ON q.QUE_ID = a.QUE_ID
		LEFT OUTER JOIN Member m on q.member_id = m.member_id
		<if test="number>0">
			where no &lt; #{number}
		</if>
	</select>



<select id="answer" resultType="answer"><!-- question에서 운영자 답글가져오기 -->
		<!-- 	SELECT A.CONTENT, A.TIME, A.QUE_ID
			FROM ANSWER A
			INNER JOIN QUESTION Q
			ON A.QUE_ID = Q.QUE_ID -->
			
	SELECT A.CONTENT, A.TIME
	FROM ANSWER A
	LEFT OUTER JOIN QUESTION Q
	ON A.QUE_ID = #{params}
</select>

<select id="que4" resultType="que"> 질문게시판
select  * from question


</select> 

<select id="que" resultType="que"><!--질문게시판  상세페이지-->
	 	select * from (
    SELECT row_number() over(ORDER BY time DESC) no , q.* FROM question q 
)
 <if test="number>0">
where no &lt; #{number}
</if>
</select>
	
<select id="faq" resultType="faq"><!--자주하는 질문   -->
        select * from faq
</select>

<select id="notice" resultType="notice"><!--공지사항   -->
        select * from notice
</select>
	
	
	
	
	
	
	
	
	
<select id="login" resultType="member">
	SELECT * FROM MEMBER WHERE EMAIL = #{email}
</select>
<select id="idcheck" resultType="String">
	SELECT COUNT(*) FROM MEMBER WHERE EMAIL = #{email}
</select>
<insert id="join">
	INSERT INTO MEMBER (EMAIL, GUARDIAN_ID, PW, NAME, PHONE, BIRTH, GENDER, BLOOD,  ADDRESS, ADDRESS_DETAIL, SOCIAL, TOKEN)
	VALUES (#{email}, #{guardian_id}, #{pw}, #{name}, #{phone}, #{birth}, #{gender}, #{blood}, #{address}, #{address_detail},#{social}, #{TOKEN})
</insert>

<select id="findid" resultType="String">
	SELECT EMAIL FROM MEMBER WHERE NAME = #{name} AND PHONE = #{phone}
</select>

<update id="pwReset">
	UPDATE MEMBER SET PW = #{pw} WHERE EMAIL = #{email}
</update>
<select id= "socialCheck" resultType="String">
	SELECT COUNT(*) FROM MEMBER WHERE SOCIAL = #{social}
</select>
<select id="socialLogin" resultType="member">
	SELECT * FROM MEMBER WHERE SOCIAL = #{social}
</select>
<select id="partnerCheck" resultType="String">
	SELECT COUNT(*) FROM MEMBER WHERE EMAIL = #{partner_id}
</select>
<update id="patientRegister">
	update member SET GUARDIAN_ID = (SELECT MEMBER_ID
                 FROM MEMBER
                 WHERE EMAIL = #{email}) where EMAIL = #{guardian_id} 
</update>
<select id="findpw" resultType="String">
	SELECT COUNT(*) FROM MEMBER WHERE EMAIL=#{email} AND NAME = #{name} AND PHONE = #{phone}
</select>
<update id="modify">
	UPDATE MEMBER SET PW=#{pw} , NAME=#{name},PHONE=#{phone},ADDRESS=#{address} ,ADDRESS_DETAIL=#{address_detail}  WHERE MEMBER_ID=#{member_id}
</update>
</mapper>