<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me">
<select id="login" resultType="member">
	SELECT * FROM MEMBER WHERE EMAIL = #{email}
</select>
<select id="idcheck" resultType="String">
	SELECT COUNT(*) FROM MEMBER WHERE EMAIL = #{email}
</select>
<insert id="join">
	INSERT INTO MEMBER (EMAIL, GUARDIAN_ID, PW, NAME, PHONE, BIRTH, GENDER, BLOOD,  ADDRESS, ADDRESS_DETAIL, SOCIAL) 
	VALUES (#{email}, #{guardian_id}, #{pw}, #{name}, #{phone}, #{birth}, #{gender}, #{blood}, #{address}, #{address_detail},#{social})
</insert>

<select id="findid" resultType="String">
	SELECT EMAIL FROM MEMBER WHERE NAME = #{name} AND PHONE = #{phone}
</select>

<update id="resetpw">
	UPDATE EMAIL	SET PW = #{pw} WHERE EMAIL = #{email}
</update>
<select id= "socialCheck" resultType="String">
	SELECT COUNT(*) FROM MEMBER WHERE SOCIAL = #{social}
</select>
<select id="socialLogin" resultType="member">
	SELECT * FROM MEMBER WHERE SOCIAL = #{social}
</select>
<select id="partnerCheck" resultType="String">
	SELECT COUNT(*) FROM MEMBER WHERE EMAIL = #{partner_id}
</select>
</mapper>