<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me">
<select id="login" resultType="member">
	SELECT * FROM MEMBER WHERE MEMBER_ID = #{member_id}
</select>
<select id="idcheck" resultType="String">
	SELECT COUNT(*) FROM MEMBER WHERE MEMBER_ID = #{member_id}
</select>
<insert id="join">
	INSERT INTO MEMBER (MEMBER_ID, GUARDIAN_ID, PW, NAME, PHONE, BIRTH, GENDER, BLOOD, SOCIAL, EMAIL, ADDRESS, ADDRESS_DETAIL, ALARM, ROLE) 
	VALUES (#{member_id}, #{guardian_id}, #{pw}, #{name}, #{phone}, #{birth}, #{gender}, #{blood}, #{social}, #{email}, #{address}, #{address_detail}, #{alarm}, #{role})
</insert>

<select id="findid" resultType="String">
	SELECT MEMBER_ID FROM MEMBER WHERE NAME = #{name} AND EMAIL = #{email} AND PHONE = #{phone}
</select>

<update id="resetpw">
	UPDATE MEMBER_ID	SET PW = #{pw} WHERE MEMBER_ID = #{member_id}
</update>
<select id= "socialCheck" resultType="String">
	SELECT COUNT(*) FROM MEMBER WHERE SOCIAL = #{social}
</select>
<select id="socialLogin" resultType="member">
	SELECT * FROM MEMBER WHERE SOCIAL = #{social}
</select>
<select id="partnerCheck" resultType="String">
	SELECT COUNT(*) FROM MEMBER WHERE MEMBER_ID = #{partner_id}
</select>
</mapper>