*{
	margin: 0 ;
	padding: 0 ;
}

.move{
	text-decoration: none !important;
	color: inherit;
}

html{
	font-size: 10px;
}

/* 테이블 기본설정 */
.qstable_wrap {
	width : 1000px;
	margin : 100px auto;
}

.qs_title{
	margin-bottom: 30px;
}

.qs_title strong{
	font-size: 3rem !important;
}

.qs_title p{
	margin-top: 5px;
	font-size: 1.4rem;
}

.qs_list{
	width: 100%;
	border-top: 2px solid #000; 
	font-size: 1.4rem;
}

.qs_list > div{
	border-bottom: 1px solid #ddd;
}

.qs_list > div.top{
	border-bottom: 1px solid #ddd; 
}

.qs_list > div:last-child{
	border-bottom: 1px solid #000;
}

.qs_list .bno {
	width: 5%;
}

.qs_list .category {
	width: 10%;
}

.qs_list .title {
	width: 55%;
}

.qs_list .writer {
	width: 9%;
}

.qs_list .regdate {
	width: 9%;
}

.qs_list .views {
	width: 9%;
}



.qs_list > div > div {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	padding: 15px 0;
	font-size: 1.4rem;
}

.qs_list > div.top > div {
	font-weight: 600;
}

.search_wrap {
	margin-top: 20px;
	text-align: center;
}

.search_area {
	display: inline-block;
	margin-bottom: 20px;
}

.search_area select, .search_area input[type="text"] {
	height: 36px;
	padding: 0 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-right: 10px;
}

.search_area button {
	height: 36px;
	padding: 0 20px;
	font-size: 16px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.search_area button:hover {
	background-color: #0056b3;
}

/* 페이지 정보 래퍼 */
.pageInfo_wrap {
	margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.pageInfo_area {
	display: inline-block;
}

.pageInfo {
	list-style: none;
	padding: 0;
}

.pageInfo_btn {
	display: inline-block;
	margin: 0 5px;
	padding: 8px 12px;
	font-size: 16px;
	border-radius: 5px;
	transition: background-color 0.3s, color 0.3s;
	background-color: transparent;
	text-decoration: none;
}

.pageInfo_btn.previous, .pageInfo_btn.next {
	font-weight: bold;
}

.pageInfo_btn:hover {
	color: white;
}

.pageInfo_btn.active {
	background-color: #999;
	color: white;
}

.pageInfo_btn a { /* 링크에 대한 밑줄 제거 */
	text-decoration: none;
	color: black; /* 링크 텍스트의 색상을 검정색으로 변경 */
}

/* 등록버튼 */
.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a.on {
    background: #000;
    color: #fff;
}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}